body {
  font-family: 'Tilt Warp', sans-serif;
  width: 50%;
  margin: auto;
}

.accordions {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: blue;
}

.accordions:hover {
  color: black;
}

.accordions:hover .fa-plus {
  visibility: visible;
}

.accordion {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 1em;
  width: 100%;
  text-align: left;
  border: none;
  border-top: 0.05em solid grey;
  outline: none;
  transition: 0.4s;
}

.accordion-title {
  display: flex;
  justify-content: space-between;
}

.fa-plus {
  visibility: hidden;
  transition: transform 0.2s;
  color: black;
}

.accordion:hover > .accordion-panel {
  max-height: 100vh;
}

.accordion:hover .meme {
  max-height: 100vh;
  max-width: 100vw;
}

.accordion:hover .fa-plus {
  transform: rotate(45deg);
}

.accordion:focus {
  color: black;
}

.accordion:focus > .accordion-panel {
  max-height: 100vh;
}

.accordion:focus .meme {
  max-height: 100vh;
  max-width: 100vw;
}

.accordion:focus .fa-plus {
  transform: rotate(45deg);
}

.accordion-panel {
  align-self: center;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.meme {
  width: 100%;
  height: 100%;
  padding-top: 1em;
  max-height: 0;
  max-width: 0;
  transition: 0.1s ease-out;
}
