body {
  font-family: 'Tilt Warp', sans-serif;
  width: 50%;
  margin: auto;
}

.accordions {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: blue;
  font-size: 20px;
}

.accordions:hover {
  color: black;
}

.accordions:hover .fa-plus {
  visibility: visible;
}

.accordion {
  display: flex;
  flex-direction: column;
  background-color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  border-top: 1px solid grey;
  outline: none;
  transition: 0.4s;
}

.accordion-title {
  display: flex;
  justify-content: space-between;
}

.fa-plus {
  visibility: hidden;
  transition: transform 0.2s;
  color: black;
}

.accordion:hover > .panel {
  max-height: 500px;
}

.accordion:hover .fa-plus {
  transform: rotate(45deg);
}

.panel {
  align-self: center;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.image {
  width: 400px;
  height: 400px;
}
